<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088942456995-uppnvid83gvdtddogrk7ce877f5g2faq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088942456995-uppnvid83gvdtddogrk7ce877f5g2faq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1088942456995-5ke1ed8v05pipt72itm7a41di9umdj6v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuYQJe9WpAP8hQ6FIIsAmsXI8vmUqnxhs</string>
	<key>GCM_SENDER_ID</key>
	<string>1088942456995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Brixar.CovidMex</string>
	<key>PROJECT_ID</key>
	<string>covid-safeguard</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-safeguard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088942456995:ios:f5813918f7dbaa48257f16</string>
	<key>DATABASE_URL</key>
	<string>https://covid-safeguard.firebaseio.com</string>
</dict>
</plist>