

<ion-content class="ion-padding">
  <ion-button fill='clear' routerLink='/tabs/map'>
    <ion-icon name="arrow-back-outline" ></ion-icon>
  </ion-button>

  <div *ngIf='hospital != null'>
    <h1 style="color: black; font-weight: 800;">
      Centro Covid - 
      <span style="font-weight: 200;">{{hospital.name}}</span>
    </h1>
    <ion-item>
      Direccion : {{hospital.address}}
    </ion-item>
  </div>
  <ion-button


  color="success"
  expand="block"
  >Llamar</ion-button
>

</ion-content>
