<!-- <ion-header >
    <ion-toolbar color="primary">
      <ion-title style="">Rescue</ion-title>
    </ion-toolbar>
  
  </ion-header> -->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main-feed">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="temperature">
      <ion-icon name="thermometer-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="faq">
      <ion-icon name="search-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
